[transmogrifier]
pipeline =
    source
    filemetadata
    filemetadatabccvl
    bccvlmetadata

[source]
# yield transmogrifier context as item
blueprint = org.bccvl.site.transmogrify.contextsource

[filemetadata]
# extract metadata for files
blueprint = org.bccvl.compute.transmogrify.filemetadata

[filemetadatabccvl]
# convert filemetadata to bccvl structure
blueprint = org.bccvl.site.transmogrify.filemetadatabccvl

[bccvlmetadata]
# update bccvlmetadata
blueprint = org.bccvl.site.transmogrify.bccvlmetadata
